<div >

<h4> Seach for a course: </h4>

<%= form_tag(courses_path, method: 'get') do %>
    <%=text_field_tag (:topic_name)%>
    <%= submit_tag("Search")%>
    <%end%>
    </div>
    <% if @params%>
    <div>

    <ul>
    <%=@courses.each do |course|%>
    <li><%= link_to course.topic,course_path(course)%></li>
    <li><%= course.location%></li>
    <li><%= course.roomNumber%></li>
    <li><%= course.profesorName%></li>
    <li><%= course.startDate%></li>
    <li><%= course.endDate%></li>
    <li><%= course.beginningTime%></li>
    <li><%= course.endingTime%></li>
    <li><%= course.requirements%></li>
    <br><br>

    <%end%>
    </ul>
    </div>
    <% else %>
    <%=@error%>
    <%end%>