<!DOCTYPE html>
<html>
  <head>
    <title>ElearningRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     
  </head>

  <body>
  <div>
  <% if logged_in?%>
  <%= link_to 'Log Out' , logout_path , method:'delete'%>
  <%= link_to 'Register for a class' , new_course_path %>
  <%= link_to 'Your classes', courses_path%>
<%else%>
  <%=link_to 'Sign Up', signup_path%>
  <%=link_to 'Log In', login_path%>
  <%end%>

  </div>
    <%= yield %>
  </body>
</html>
